



.card-grid{
  display: grid;                      /* Grid layout for cards */
  grid-template-columns: repeat(auto-fit,minmax(16rem,1fr)); /* Responsive columns */
  gap: 2rem;                          /* Space between cards */
  padding: 2.5rem  2rem 2rem 2rem ;   /* Padding around grid */
  max-width: 70rem;                  /* Max width for large screens */
  margin: 0 auto;                     /* Center grid */
  width: 100%;                        /* Full width by default */
}
/* styles.css */
.card-glow {
  animation: infinite-glo 4s ease-in-out infinite alternate;
}

@keyframes infinite-glo {
  0% {
    /* Optional: No shadow at start */
  }
  100% {
    box-shadow:
      0 0 1px #8b0000,
      0 0 1px #8b0000,
      0 0 1px #8b0000,
      0 0 1px #8b0000,
      0 0 1px #8b0000,
      0 0 1px #8b0000;
  }
}




@media(max-width: 700px){
  .container_header-container{
      flex-direction: column;          /* Stack header content vertically */
      gap:1rem;                       /* Smaller gap */
      padding:0 1rem;                 /* Less horizontal padding */
      overflow: hidden;
      text-overflow: ellipsis;
    }
  .card-grid {
      padding: 1.5rem 0.5rem;         /* Less padding on small screens */
      gap: 1rem;                      /* Smaller gap between cards */
  }   
  .footer-links{
      gap:1.2rem;                     /* Less space between footer links */
  }
}

